body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Poppins'; font-size: 13px;
  }
p,h1,h2,h3,h4,h5,h6{padding: 0;margin: 0;}
.letter-space{letter-spacing: 1px;}
/* ---------------common css--------------- */
.white-color{color: rgb(245, 245, 245);}
.main-color{color: #3fab40;}
.text-color{color: #8d8b8b;}
.black-color{color: #171717;}
.f-600{font-weight: 600;}
.f-500{font-weight: 500;}
.f-400{font-weight: 400;}
.common-btn{background-color: #3fab40;color: white;padding: 10px 35px;border-radius: 5px;border: 0;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;font-size: 14px;border: 1px solid #3fab40;font-size: 13px;}
.common-btn:hover{background-color: white;color: #3fab40; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}
.outline-btn{background-color: transparent;color: #3fab40;padding: 10px 35px;border-radius: 5px;border: 0;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;font-size: 14px;border: 1px solid #3fab40;font-size: 13px;}
.outline-btn:hover{background-color: #3fab40;color: white; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}

.common-shadow{box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
.text-justify{text-align: justify;}
.float { display: inline-block; transition-duration: 0.3s; transition-property: transform; -webkit-tap-highlight-color: transparent; transform: translateZ(0); box-shadow: 0 0 1px transparent; }
.float:hover { transform: translateY(-5px); }
.common-card{padding: 15px;border-radius: 10px;border: 0;background-color: white;box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
.float-card:hover > img {
    transform: scale(1.2);
}

.error{
  color: #cb0c0c;
  font-size: 0.7rem;
  font-family: 'Poppins';
}

.search-box{width: 50%;text-align: right;}
.search-box input{border: 0;padding: 12px;border-radius: 10px;}
.search-box input::placeholder{font-size: 13px;color: rgb(171, 168, 168);}
.search-box input{font-size: 13px;color: #171717;border: 1px #3fab40 solid;}
.search-box input:focus{box-shadow: none; border: 1px #3fab40 solid;}
.search-box  .search-btn{border: 0;background-color: #3fab40;color: white;padding: 0px 16px;cursor: pointer;border-radius: 0px 10px 10px 0px;}
  .grid-container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 8fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  .page-title h3{font-size: 23px;}
  .count-bg{padding: 5px 7px;border-radius: 5px; background-color: rgb(92 203 97);}
  .page-content{margin-top: 15px;}
  .page-items{margin-top: 30px;}
  .page-title i{font-size: 25px;transition: 0.3s ease;}
.page-title i:hover{opacity: 0.7;}
.input-group {width: 70%;}

  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #3fab40;
    color: #0F0F0F;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 13px 20px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 15px 10px;
    border-radius: 0px 28px 28px 0px;
  }
  
  .sidebar-list-item:hover,.sidebar-list-item.active  {
    cursor: pointer;
    background-color: rgb(92 203 97);
    cursor: pointer;
    border-right: 8px solid #3fab40;
  }
  .side-head{    padding: 17px 10px;
    border-top: 1px solid #50c968;
    border-bottom: 1px solid #50c968;margin-bottom: 10px;}
  .sidebar-list-item > a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .sidebar-list-item.logout-item{margin-top: 115px;}
  .sidebar-list-item.logout-item > p{font-size: 12px;}
  .profile-link .profile-pic img{border-radius: 50%;width: 50px;height: 50px;object-fit: cover;border: 1px solid white;}
  .profile-name{color: #171717;text-decoration: none;font-weight: 500;transition: 0.3s ease;}
  .profile-name:hover{color: #3fab40;}
  .button-link button{border-radius: 30px; margin-left: -30px;z-index: -111;position: relative;padding: 10px 15px 10px 38px;}
  .sidebar-logo{width: 103px;margin: 0 auto;display: block;box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;}
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }
  
  
/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.new {
  padding: 50px;
}

.form-group-box {
  display: block;
  margin-bottom: 15px;
}

.form-group-box input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-box label {
  position: relative;
  cursor: pointer;
}

.form-group-box label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #3FAB40;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group-box input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #3FAB40;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* radio button */
.form-group-radio {
  display: block;
  margin-bottom: 15px;
}

.form-group-radio input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-radio label {
  position: relative;
  cursor: pointer;
}

.form-group-radio label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #3FAB40;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group-radio input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #3FAB40;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader-p{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader-p:before, .loader-p:after{
  content: '';
  border: 1em solid #3fab40;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 0.01s linear infinite;
  opacity: 0;
  animation-duration: 0.5s;
}

.loader-p:before{
  animation-delay: 0.1s;
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}