.top-cards .common-card {height: 100%;}
.transation-detail-box li{list-style: none;color: #474747;padding: 10px;font-size: 14px;}
.transation-detail-box i{color: #3fab40;font-size: 16px;}
.transation-detail-box ul{padding-left: 0;}
.transation-detail-box{ border-radius: 15px; margin: 0 auto; background: white;}
.transation-detail-box .btn {transition: 0.3s ease; padding: 10px 20px;font-size: 13px; margin: 5px; border: none; cursor: pointer; }
.transation-detail-box .btn:hover{background-color: #3fab40!important;}
.transation-detail-box .btn:focus{box-shadow: none;}
#partners { background-color: #3fab40; color: white; }
#supporters { color: white; background-color: #94cb95; }
.transation-detail-box .content { display: none;   }
.transation-detail-box .active { display: block; }
.d-btn{float: right;margin-right: 10px;}
.date-btn, .date-btn:focus{padding: 10px;border-radius: 5px;border: 1px solid #3fab40;}
.download-btn i{font-size: 18px;line-height: 0;}
.download-btn:hover i{color: white;}
/*.transation-detail-box table td, .transation-detail-box table th{padding: 15px;}
.transation-detail-box table thead{background: #afe9b0;}
.transation-detail-box table tbody tr:hover{background-color: #eeffe6;}
.transation-detail-box table {max-height: 600px; min-height: 50px;border: 1px solid #39dd3b;}
*/.pay-details{min-height: 100px; max-height: 500px;overflow-y: scroll;}
.pagination .page-link{border-radius: 50%;margin-right: 5px;color: #3fab40;width: 32px;height: 32px;text-align: center;border: 0;border: 1px solid white;box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
.page-item:last-child .page-link{border-radius: 50%;background-color: #3fab40;color: white;padding: 6px 0px;}
.page-item:first-child .page-link{border-radius: 50%;background-color: #3fab40;color: white;padding: 6px 0px;}
.pagination .page-link:focus, .pagination .page-link:hover{box-shadow: none;border: 1px solid #3fab40;}
.pagination .page-item.active .page-link{box-shadow: none;border: 1px solid #3fab40; background-color: white; color: #3fab40;}
.page-link i{font-size: 14px;}